
#wrap {
    width: 100%;
    height: 50px;
    margin: 0;
    z-index: 99;
    position: relative;
    background-color: black;
  }

/* li {
    color :white;
    font-family: Georgia, 'Times New Roman', Times, serif
} */

li {
  list-style:none !important;
  color:#FFF; */
  padding:10px;
  font-size:20px;
  text-decoration:none;
  }  
  nav ul {
    background-color:black;
    /* background-image :"mer.jpeg"; */
    padding:0;
    margin:0;
    }
    /*  carr'e ou il y a le titre : */
    nav ul li { 
    list-style: none;
    line-height:150px;
    float:left;
    background-color:black;
    /* background-image : url(mer.jpeg); */
    }
    nav ul li a {
    color:#FFF;
    padding:10px;
    font-size:20px;
    text-decoration:none;
    }
    li a:hover {
    border-bottom:3px #FFF solid;
    }

nav ul li ul { display:none; } /* Rend le menu déroulant caché par défaut */
nav ul li:hover ul { /* Affiche la dropNav au survol de la souris avec la class .drop */
z-index:99999;
display:list-item !important;
position:absolute;
margin-top:5px;
margin-left:-10px;
}
nav ul li:hover ul li {
float:none;
}

#parc {
  background-image: url(prc.jpeg);
}

#metro {
  background-image: url(metro.jpg);
}

#egouts{
  background-image: url(egouts.jpeg);
}

#catas {
  background-image: url(catas.jpeg);
}