@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

*{
    margin: 0;

}


.body {
    overflow:auto;
    border-collapse: collapse;
    /* height :100vh; */
    /* margin:0px; */
}

.parallax-effect {
    background-image:url("https://img2.juzaphoto.com/001/shared_files/uploads/2952822.jpg");
    min-height:100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display:flex;
    justify-content: center;
}

h2 {
    color : white ;
    text-align: center; 
    font-family:'Monoton', cursive;
    font-size:50px;

    display:flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}

h0 {
    color:white;
    text-align: center; 
    display:flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}

/* .imagebas {
    background-image:url("https://img2.freepng.fr/20180427/wfe/kisspng-drawing-tentacle-picsart-photo-studio-white-color-5ae33ccbcac8c3.4419159915248416758306.jpg")
} */

.competencestitre {
    color: white;
    font-family: 'Monoton', cursive;
}

.contact {
    text-align: left;
    margin-left: 50px;
    font-size: smaller;
}

.text {
    text-align: left;
    margin-left: 50px;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}

